Function without a return type returns default object, __None__.  
You must specify the __default args__, when calling the function.

In [95]:
def defaultArgs(a,b=1,c=2):
    print(a,b,c)

In [97]:
print(defaultArgs(a=1))

1 1 2

NoneType

The default value is evaluated at the defining scope of the function defination.  
The default value is only evaluated once.

In [62]:
i=2
def loop(arg=i):
    print(arg)
i=3

In [63]:
print(loop(1))
print(loop())

1
None
2
None

In [64]:
def accumulator(a,l=[]):
    l.append(a)
    return l

In [65]:
print(accumulator(1))
print(accumulator(4))

[1]
[1, 4]

If you don't want the value be shared between subsequent calls...

In [66]:
def accumulator(a,l=None):
    if l==None:
        l = []
        l.append(a)
    return l

In [67]:
print(accumulator(1))
print(accumulator(3))

[1]
[3]

### arguments and keyword arguments  
__\*args__ represent variable number of arguments  
__\*\*kwargs__ represent variable number of keyword arguments in the form of dictionary  
The function recieves a __tuple__ containing the positional arguments beyound the formal arguments  
Any formal parameters which occur after the \*args parameter are 'keyword' only arguments, meaning they can be used only as a keyword arguments rather than positional arguments

In [158]:
def fanc(*args,**kwargs):
    print(args,kwargs)
    return args,kwargs

In [159]:
print(fanc())
type(fanc(12,2,'adf',asdf='123'))

() {}
((), {})
(12, 2, 'adf') {'asdf': '123'}

tuple

In [165]:
def concat(*args,sep="/"):
    return sep.join(args)

In [166]:
concat('a','b','c')

'a/b/c'

In [170]:
concat('earth','mars','jupiter',sep='.')

'earth.mars.jupiter'

### Unpacking argument list
Use \*-operator to unpack the arguments out of the tuple or list

In [187]:
list(range(3,5))

[3, 4]

In [189]:
list(range(*[3,5]))

[3, 4]

## Lambda Expressions
Small anonymous functions can be created with __lamda__ expressions.  
Lamda functions can be used whenever function objects are required.  
They are syntactically restricted to single expresssion.  
Just like closures, they can refrence variables from the containing scope.

In [199]:
def increator(n):
    return lambda x:x+n

In [203]:
f = increator(2)
print(f(1))
print(f(3))

3
5

In [210]:
pairs = [(1,'one'),(2,'two'),(3,'three'),(4,'four')]

In [238]:
pairs.sort(key=lambda pair:pair[1])

In [254]:
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

# Data Structures

## List
- list.append(x) - append to end of the list
- list.insert(x) - insert at given poisition, default position is last, if the index croses the lenght of list
- list.remove(x) - remove the first item from the list whose value is x. If none gives error.
- list.pop([i]) - removes an item from the specified position and return it. If index not specified, removes last item.  
__(The square brackets around the i in the method signature denote that the parameter is optional)__    
List can be also used as __Stack__ with elements retrieved in lifo order, using methods like append() and pop()    
Furthermore in documentation.

In [264]:
fruits = ['apple','orange','guava','grapes','lemon','apple']

In [269]:
print(fruits.index('apple'))
# Find index of next apple starting at given position
print(fruits.index('apple',4))

0
5

In [272]:
fruits.reverse()

In [273]:
fruits

['apple', 'lemon', 'grapes', 'guava', 'orange', 'apple']

In [275]:
fruits.append('banana')

In [280]:
fruits

['apple', 'apple', 'banana', 'banana', 'grapes', 'guava', 'lemon', 'orange']

In [281]:
fruits.sort()

In [282]:
fruits

['apple', 'apple', 'banana', 'banana', 'grapes', 'guava', 'lemon', 'orange']

In [283]:
fruits.pop(2)

'banana'

In [284]:
fruits

['apple', 'apple', 'banana', 'grapes', 'guava', 'lemon', 'orange']

### Using List as Queues
Using list as queue is inefficent. 
Instead, we can use *collections.deque*

In [290]:
from collections import deque
queue = deque(['ram','hari','sita'])
queue.append('terry')
queue.append('shyam')
print(queue.popleft())
print(queue)
print(queue.pop())
print(queue)

ram
deque(['hari', 'sita', 'terry', 'shyam'])
shyam
deque(['hari', 'sita', 'terry'])

### List Comprehensions

In [292]:
list(x**2 for x in range(5))

[0, 1, 4, 9, 16]

A list comprehension consists of brackets containing an expression followed by a *for* clause, then zero or more *for* or *if* clause.  
The result will be a new list resulting from the evaluating the expression in the context of *for* or *if* clause.

In [299]:
[(x,y) for x in [1,2,3] for y in [2,4,6] if x!=y]

[(1, 2), (1, 4), (1, 6), (2, 4), (2, 6), (3, 2), (3, 4), (3, 6)]

In [298]:
# It's equivalent for loop:
combs = []
for x in [1,2,3]:
    for y in [2,4,6]:
        if x!=y:
            combs.append((x,y))
print(combs)

[(1, 2), (1, 4), (1, 6), (2, 4), (2, 6), (3, 2), (3, 4), (3, 6)]

In [311]:
vec = [-4,-2,0,2,4]
print(vec)
print('squared')
print([x*2 for x in vec])
print('filter the list to exclude neg numbers')
print([x for x in vec if x>=0])
print('apply "abs" function to all items')
print([abs(x) for x in vec])
print()

print('call a method on each item')
freshfruit = ['banana ','blue berry',' mango']
print(freshfruit)
print([fruit.strip() for fruit in freshfruit])
print()

print('create a list of 2-tuple like (number,square)')
print([(x,x*x) for x in range(5)])
print()

print("flatten a list using a listcomp using two for")
vec = [[1,2,3],[2,4,6],[3,6,9],[]]
print(vec)
[num for elem in vec for num in elem]

[-4, -2, 0, 2, 4]
squared
[-8, -4, 0, 4, 8]
filter the list to exclude neg numbers
[0, 2, 4]
apply "abs" function to all items
[4, 2, 0, 2, 4]

call a method on each item
['banana ', 'blue berry', ' mango']
['banana', 'blue berry', 'mango']

create a list of 2-tuple like (number,square)
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

flatten a list using a listcomp using two for
[[1, 2, 3], [2, 4, 6], [3, 6, 9], []]

[1, 2, 3, 2, 4, 6, 3, 6, 9]

#### Nested List Comprehension

In [321]:
# A matrix of size 3*4
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [10,12,14,16]
]

In [327]:
# transposing rows and columns
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 10], [2, 6, 12], [3, 7, 14], [4, 8, 16]]

In [330]:
# equivalent for loop
transposed = []
for i in range(4):
    transposed_row = []
    for rows in matrix:
        transposed_row.append(rows[i])
    transposed.append(transposed_row)
print(transposed)

[[1, 5, 10], [2, 6, 12], [3, 7, 14], [4, 8, 16]]

In [331]:
# Also can be accomplished using built-in zip function
list(zip(*matrix))

[(1, 5, 10), (2, 6, 12), (3, 7, 14), (4, 8, 16)]

## The *del* statement
There is a way to remove an item from a list given its index instead of its value: the del statement.  
This differs from the pop() method which returns a value.   
The del statement can also be used to remove slices from a list or clear the entire list.  
It can be also used to delete entire variable.

In [346]:
a = [-1,1,32.22,2.22,123.24]

In [347]:
del a[0]

In [348]:
a

[1, 32.22, 2.22, 123.24]

In [349]:
del a[2:4]

In [350]:
a

[1, 32.22]

In [351]:
del a[:]

In [352]:
a

[]

In [353]:
del a

## Tuples and Sequences
A tuple consists of a number of values separated by commas.  

Tuples are immutable, and usually contain a heterogeneous sequence of elements that are accessed via unpacking (see later in this section) or indexing (or even by attribute in the case of namedtuples).   

Lists are mutable, and their elements are usually homogeneous and are accessed by iterating over the list.

In [354]:
t = 1232,'123',22.22

In [355]:
t

(1232, '123', 22.22)

In [356]:
# tuples can be nested
u = t,'bac'

In [357]:
u

((1232, '123', 22.22), 'bac')

In [358]:
# But they can contain mutable objects
v = ([1,2,3],[3.2,3.4,3.5],['abc','bac','cab'])

In [364]:
v[1][0]=3.3
v

([1, 2, 3], [3.3, 3.4, 3.5], ['abc', 'bac', 'cab'])

In [379]:
# Empty tuples are constructed by an empty pair of parentheses; 
# A tuple with one item is constructed by following a value with a comma
empty = ()
singleton = 'hello', # <- note trailing comma
len(empty)

0

In [380]:
len(singleton)

1

In [381]:
singleton

('hello',)

In [384]:
t = 'ad',1,2

## Sets
A Set is an unordered collection with no duplicate elements.  
Set also support mathematical operations like union, intersection, difference and symmetric difference.

Curly braces or the set() function can be used to create sets.   
Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary.

In [387]:
basket = {'apple','orange','apple','grape'}

In [388]:
type(basket)

set

In [389]:
'orange' in basket

True

 Demonstrate set operations on unique letters from two words

In [392]:
a = set('abracadabra')
b = set('alacazam')

In [393]:
a

{'a', 'b', 'c', 'd', 'r'}

In [394]:
b

{'a', 'c', 'l', 'm', 'z'}

In [395]:
# letters in a but not in b; difference
a-b

{'b', 'd', 'r'}

In [396]:
# letters in a or b or both; union
a|b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [397]:
# letters in both a and b; intersection
a&b

{'a', 'c'}

In [398]:
# letters in either a or b but not in both; XOR
a^b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [408]:
# set comprehension are also supported
a = {x for x in 'abracadabra' if x not in 'abc'}

In [407]:
{x for x in {'abracadabra'} if x not in l}

{'abracadabra'}