In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101',periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01  2.673528 -1.082311 -0.549010  0.765797
2013-01-02 -0.595730 -0.336337  1.293284 -0.454528
2013-01-03  1.116838 -0.724677  1.085458 -0.686443
2013-01-04 -0.872620 -1.104513 -0.379108  0.257521
2013-01-05 -1.063345 -0.827357  1.214486 -1.254956
2013-01-06 -1.229351 -1.886760  1.504917 -0.249796

In [9]:
np.random.randn(6,2)

array([[-0.13390748,  0.0996826 ],
       [-1.68650924,  1.52646152],
       [ 0.70004513, -0.18338148],
       [ 0.12420757, -0.81717512],
       [ 0.08011429,  1.317071  ],
       [-1.02863131, -1.98947896]])

array([[[ 0.12987813,  1.65862507],
        [ 0.44352786, -0.62550958]],

       [[-1.3016199 , -0.79882903],
        [-0.69444564,  0.13491065]],

       [[ 0.32742506,  0.31957061],
        [-0.89818755, -0.13138255]],

       [[ 0.1088122 ,  1.06443894],
        [-1.3564497 , -1.36012115]]])